#professional-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;   
    height: 400px;
    width: 250px;
}
#Name{
    text-align: center;
}
#resumeButton{
    display: inline;
    width: 100px;
    height: 100px;
}
#portfolioButton{
    display: inline;
    width: 100px;   
    height: 100px;
}